.card {
    width: 332px;
    height: 855px;
    border: 0.1em solid black;
    padding: 5px;
    display: inline-flex;
    flex-wrap: wrap;
    flex-direction: column;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    box-shadow: 6px 5px#aeb199d3;
}

.left{
    float: left;
    margin: 1px;
    margin-left: 240px;  
}
.right{
    float: right;
    margin: 3px;  
    margin-right: 240px;
}
.header {
    width: 300px;
    height: 49px;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 0.1em solid black;
    border-radius: 5px;
    background-color: #d8c0a8;
    box-shadow: 3px 4px#aeb199d3;
}

.picture {
    width: 300px;
    height: 282px;
    margin: auto;
    margin-top: -9px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 0.1em solid black;
    border-radius: 5px;
    background-color: #d8c0a8;
    box-shadow:6px 5px #aeb199d3;
}

.info {
    width: 300px;
    height: 434px;
    margin: auto;
    margin-top: -9px;
    margin-bottom: 10px;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    border: 0.1em solid black;
    border-radius: 5px;
    background-color: #d8c0a8;
    box-shadow: 6px 5px#aeb199d3;
}

h1 {
    text-align: center;
    font-size: x-large;
    font-weight: 400;
    text-decoration: dotted;
}

img {
    height: 280px;
}

p {
    font-size: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background-color:#f8edeb;
    /* #fae1dd; */
     /* #dbcfc4; */
}

.intersting {
    font-style: italic;
}
ul li{
    list-style-type: none;
    margin-bottom: 7px;
   }